/* Included fonts */
@font-face {
    font-family: lb;
    src: url(../assets/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf);
}

@font-face {
    font-family: lb;
    src: url(../assets/fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: lb;
    src: url(../assets/fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: rc;
    src: url(../assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: rc;
    src: url(../assets/fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: rc;
    src: url(../assets/fonts/Roboto_Condensed/RobotoCondensed-Italic.ttf);
    font-style: italic;
}

/* Define document base font and font size */
body {
    font-size: 1rem;
    font-family: lb, serif;
}

/* Font definition for included elements */
.navbar-subtitle,
.navbar-link,
.about-quote,
.projects-card-title,
.projects-card-link,
.contact-card-title,
.footer
{
    font-family: rc, sans-serif;
}

/* Link jump height fix */
:target::before {
    content: "";
    display: block;
    height: 7rem; /* fixed header height*/
    margin: -7rem 0 0; /* negative fixed header height */
}

/* Misc */
html {
    scroll-behavior: smooth;
}

.inline-link, .contact-card-text {
    text-decoration: none;
    color: rgb(22, 98, 185);
}

.inline-link-footer {
    text-decoration: none;
    color: rgb(87, 134, 189);
}

/* Background image */
/* body {
    background-image: url("../assets/images/wallpaper.jpg");
    background-repeat: repeat;
    background-size: 350px 350px;
} */